src/BreakthroughWPF/Service References/GameConnection/BreakthroughWPF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BreakthroughWPF" elementFormDefault="qualified" targetNamespace="http://BreakthroughWPF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BreakthroughWPF" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Invite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InviteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteWelcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteWelcomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InviteWelcomeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BreakthroughWPF" minOccurs="0" name="opponentMove" type="q1:ComputerAIPlayer.SMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BreakthroughWPF" minOccurs="0" name="NextMoveResult" type="q2:ComputerAIPlayer.SMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>