src/BreakthroughWPF/Service References/GameConnection/BreakthroughWPF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BreakthroughWPF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BreakthroughWPF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ComputerAIPlayer.SMove">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beaten" type="xs:boolean" />
      <xs:element name="ex" type="xs:int" />
      <xs:element name="ey" type="xs:int" />
      <xs:element name="player" type="tns:PiecesColor" />
      <xs:element name="sx" type="xs:int" />
      <xs:element name="sy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputerAIPlayer.SMove" nillable="true" type="tns:ComputerAIPlayer.SMove" />
  <xs:simpleType name="PiecesColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="White" />
      <xs:enumeration value="Black" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PiecesColor" nillable="true" type="tns:PiecesColor" />
</xs:schema>